body {
  user-select: none;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #fff;

  /* background-color: #d9d9d9; */
  background-image: url(../background2.jpg);
  background-attachment: fixed;
  color: #000;
}

.db-images-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.db-images-div > img{
  /* margin: auto;
  width: 80%;
  height: 100%;
  object-fit: cover; */
  flex-basis: 40%;
  object-fit: cover;
  width: 80%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;

  /* grid-column-start: 2; */
}

/* MAIN STYLING */
.row {
  margin-top: 170px;
}
.action-btn {
  display: inline-table;
  margin: 7px;
}
.info {
  margin-top: 10px;
  text-align: left;
  line-height: 2em;
  font-size: 18px;
  font-weight: normal;
  margin-left: 7px;
}
/* img {
  background-color: #d9d9d9;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  cursor: pointer;
} */
.profile-pic {
  background-color: #d9d9d9;
  border-radius: 100%;
  width: 250px;
  height: 250px;
}
.logo {
  background-color: #fff;
  height: 50px;
  width: 269px;
  cursor: pointer;
  margin-right: 1%;

}
.tiktoklogocon {
  margin-top: 25px;

}
.tiktoklogocon a {
  font-size: 25px;
  margin: 15px;
  color: rgba(0, 0, 0, 0.712);

}
.tiktoklogo{
  width: 25px;
  position: relative;
  left: -1px;
  top:-7px;
}
.tiktoklogocon a:hover {
  color: #000;
}
.social-icons {
  margin-top: 25px;
}

.social-icons a {
  font-size: 25px;
  margin: 15px;
  color: rgba(0, 0, 0, 0.712);
}
.social-icons a:hover {
  color: #000;
}
.intro {
  font-size: 45px;
  font-weight: bolder;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
  /* color: #000; */
}
/* for mobile devices */
@media screen and (max-width: 420px) {
  .row {
    margin-top: 0px;
  }
  img {
    width: 150px;
    height: 150px;
  }
  .intro {
    font-size: 30px;
    font-weight: bold;
  }
}
.btn-primary {
  background-color: #8f00ff;
  border-color: #8f00ff;
}
.btn-primary:hover {
  background-color: #ff00f0;
  border-color: #ff00f0;
}

/* FOR DARK MODE */
body.dark {
  background-color: rgb(10, 25, 47);
  color: #fff;
}
body.dark .navbar-dark {
  background-color: rgb(10, 25, 47) !important;
}
body.dark .social-icons a {
  color: #dee2e6;
}
body.dark .social-icons a:hover {
  color: #6c757d;
}
body.dark .nav-item:hover {
  background-color: #343a40;
}

textBackground{
  background-color: #000;
}
